<div class="container">
    <section>
        <p>시각장애인이 아니면 점자를 배우고 익힌 사람이 많지 않아 점자로 표현하고자 하는 사람이 있어도 그 뜻을 펴지 못하는 경우가 많습니다. 그런 사람을 위해 한글을 쉽게 점자로 변환할 수 있도록 점자 번역기를 만들었습니다. 2019년 11월 4일 제93회 점자의 날을 기념하여 점자 번역기 ‘<strong>점자로</strong>’를 공개합니다. 별도의 프로그램 설치 없이 웹 페이지에서 바로 사용할 수 있습니다.</p>
        <p>웹이 아닌 다른 형태의 ‘점자로’도 곧 만나보실 수 있습니다.</p>
        <p>‘점자로’ 사용 중 문의 사항은 <a href="https://github.com/teamdotsix/jumjaro/issues">GitHub Issue</a>를 통해서 하실 수 있습니다.</p>
    </section>
    <section>
        <h2>‘점자로’의 한계</h2>
        <p>‘점자로’는 현대 한글 점자 변환 기능만 갖추었을 뿐, 여전히 개발 중인 프로젝트입니다. 아직 모든 변환이 완벽하지는 않으나 궁극적으로는 통합 점자 번역기로 발전하고자 합니다.</p>
        <p>다음은 아직 완벽하게 지원하지 않는 기능입니다:</p>
        <ul>
            <li>옛 한글</li>
            <li>외국어</li>
            <li>숫자 표기</li>
            <li>문장부호</li>
            <li>수학식 표기</li>
            <li>컴퓨터 점역</li>
        </ul>
    </section>
    <hr />
    <section>
        <h2>‘점자로’소개</h2>
        <p>팀 닷씩스는 시각장애인의 불편한 현실에 대해서 알게 된 후 여러 매체에서 전하는 실태를 눈여겨 보게 되었습니다. 그리고 도움이 될만한 일을 고민하다가 국립국어원에서 제정한 <a href="https://korean.go.kr/front_eng/down/down_02V.do;front=75E109F2BECF15941512B6D2DA65DE4E?etc_seq=603&pageIndex=1">점자 규칙</a>을 보았습니다. 문서에 적힌 규칙이 명확했기 때문에, 점자 변환을 자동화하여 서비스로 제공할 수 있으리라 생각하게 됐습니다.</p>
        <p>우리는 점자 번역기 ‘점자로’를 통해 누구나 쉽게 시각장애인을 위한 점자를 만들 수 있기를 바랍니다. 팀 닷씩스는 앞으로도 시각장애인의 편의를 돕는 프로젝트를 다방면으로 진행하고자 합니다. 앞으로를 더 기대해주세요 :)</p>

        <h3>여러분도 시각장애인이 처한 힘든 현실을 같이 봐주세요</h3>
        <ul>
            <li><a href="http://h2.khan.co.kr/view.html?id=201707031508001">[지금 트위터는]음료캔 위 ‘점자’ 확인해보세요 - 경향신문 </a></li>
            <li><a href="https://news.joins.com/article/23615660">샴푸인지 화장품인지…시각장애인에게 ‘구별’을 허하라 - 중앙일보</a></li>
            <li><a href="http://www.donga.com/news/article/all/20191016/97895454/1">수능 코앞인데… 엉터리 EBS 점자교재 펴보다 한숨 - 동아일보</a></li>
            <li><a href="https://www.hankookilbo.com/News/Read/201910070916314060">“고3 EBS수능 점자책 6월에 받아”… 대학 가선 교재 준비 전쟁 - 한국일보</a></li>
            <li><a href="https://www.hankyung.com/society/article/201910130261Y">'손끝의 편리함' 무인단말기, 시각장애인은 못 닿는 '유리벽' - 한국경제</a></li>
        </ul>
    </section>
    <hr />
    <section>
        <p><strong>팀 닷씩스(Team DotSix)</strong>는 IT 기술로 맹인들을 위한 환경을 개선하기 위해 모인 비영리 단체입니다. 팀 닷씩스에 대한 문의는 <a href="#">공개 메일링 리스트</a>나 <a href="#">이메일</a>을 통해서 하실 수 있습니다.</p>

        <p>팀 닷씩스 구성원:</p>
        <ul>
            <li>김찬웅 <a class="fab fa-github" href="https://github.com/kexplo"></a> <a class="fas fa-home" href="https://chanwoong.kim"></a></li>
            <li>류지원 <a class="fab fa-github" href="https://github.com/shotbyshot"></a> <a class="fab fa-twitter" href="https://twitter.com/shotbyshot"></a></li>
            <li>윤석주 <a class="fab fa-github" href="https://github.com/noricube"></a> <a class="fab fa-twitter" href="https://twitter.com/noricube"></a></li>
        </ul>
    </section>
</div>