<div class="container">
    <section>
        <p>누구나 쉽게 점자를 작성할 수 있었으면 좋겠다고 생각하여, 2019년 11월 4일 93회 점자의 날을 기념하여 점자 번역기 ‘<strong>점자로</strong>’를 공개합니다.</p>
        <p>웹이 아닌 다른 형태의 점자로도 곧 만나보실 수 있습니다.</p>
    </section>
    <hr />
    <section>
        <h2>소개</h2>

        <p>점자를 모르는 이도 점자를 쉽게 작성할 수 있으면 좋겠다는 바람으로 만들었습니다. 별도의 프로그램 설치 없이 웹 페이지에서 바로 사용할 수 있습니다.</p>
        <p>점자로를 만들기까지 다음과 같은 이유가 있었습니다:</p>
        <ul>
            <li>팀원 중 한 명이 시각장애인으로 시각장애인의 현실에 대해서 잘 알고, 그걸 개선하고 싶었습니다.</li>
            <li>시각장애인의 현실에 대해 알게 되니, 여러 매체에서 전하는 실태가 눈에 들어오기 시작했습니다.</li>
            <li>우리가 할 수 있는 것이 무엇일까 생각하다가 국립국어원에서 제정한 점자 규칙을 보고, 규칙이 명확하여 쉽게 자동화해 제공할 수 있으리라 생각하였습니다.</li>
            <li>점자로를 사용하여 누구나 쉽게 시각장애인을 위한 점자를 만들 수 있기를 바랍니다.</li>
        </ul>
    </section>
</div>