@using Jumjaro
<section>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-8">
            <button class="btn btn-primary w-100" @onclick="ConvertJumja">유니코드 변환</button>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-4 offset-md-8">
            <button class="btn btn-primary w-100" @onclick="ConvertBRF">BRF 변환</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md">
            <fieldset>
                <legend class="d-none d-md-block">한글 문자열</legend>
                <textarea class="form-control" rows="10" @bind="inputText"></textarea>
            </fieldset>
        </div>
        <div class="col-">
        </div>
        <div class="col-md">
            <fieldset>
                <legend class="d-none d-md-block">점자 문자열</legend>
            <textarea class="form-control" rows="10" @bind="jumjaResult"></textarea>
            </fieldset>
        </div>
    </div>
</div>
</section>

@code {
    private string inputText = "한글\n아이\n우유\n어머니\n아버지";
    private string jumjaResult;

    private async Task ConvertJumja(MouseEventArgs e)
    {
        await Task.Run(() =>
        {
            var jumjaro = new Jumjaro();
            jumjaResult = jumjaro.ToJumja(inputText);
        });
    }

    private async Task ConvertBRF(MouseEventArgs e)
    {
        await Task.Run(() =>
        {
            var jumjaro = new Jumjaro();
            jumjaResult = BrailleASCII.FromUnicode(jumjaro.ToJumja(inputText));
        });
    }
}
