@inherits LayoutComponentBase

    <div id="container" class="container">
        <header>
            <h1>점자로 ⠨⠎⠢⠨⠐⠥</h1>
            <h2>한글 점자 변환기</h2>
        </header>
        <hr />
        <div id="main_content">
            @Body
        </div>

        <hr />
        <footer>
            <p>Copyright &copy; 2019 Team DotSix All Rights Reserved.</p>
        </footer>
    </div>