@inherits LayoutComponentBase

<div id="container">
    <div class="inner">
        <header>
            <h1>점자로 ⠨⠎⠢⠨⠐⠥</h1>
            <h2>한글 점자 변환기</h2>
        </header>
        <hr>
        <section id="main_content">
            @Body
        </section>
    </div>
</div>